intersight-keyid = "63751db37564612d3075a0c8/YYYYYYYYYYYYYYYYYYY/63bb8f127564612d304eda99"
imc_local_admin_password = "t3cDCN2495!"
intersight-secretkey = <<EOF
-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAvuiVmJ1kmKO+WmMb9hw9jlei23EwvAk39/JHeG9nqDKVKkif
yrY36kYMJ5I/y9laHjN/3I+OaliIpfgwUlKFM837Rqv9//gdb9YblZ6bvtOPMct3
VC8rWhQUqvbeHvydCqd3SAQYsaqLY/kIRqo1rgMSZKVaQVT6UXxpEvTNCmKy+CVP
s49YoTxlwUxB9Iste8pInIEzIxWr6S5DVsqQLUfn7BY73aOmy8fJBS9m2uYJ4bxq
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
RhgFygOXfBFjANnOb61NO+lbwMfQjP5Hh755St5qvPFmc9a0d8cxWA==
-----END RSA PRIVATE KEY-----
EOF
